body
{
    font-size: 75%;
    font-family: "Helvetica Neue" ,Arial,Sans-serif;
    color: #232323;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset
{
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend
{
    font-size: 1.2em;
    font-weight: bold;
}

textarea
{
    min-height: 75px;
}

.editor-label
{
    margin: 1em 0 0 0;
}

.editor-field
{
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Layout master page
--------------------------------------------------------*/

#top
{
    background: url("images/top.gif") no-repeat scroll left center #2b4b6c;
    height: 60px;
}

#top h1
{
    opacity: 0;
    margin: 0;
    padding: 0;
    filter: alpha(opacity=0);
}
#main
{
    padding: 10px;
}

#main h2
{
    color: #990000;
    margin: 5px;
}

#foo
{
    height: 31px;
}

#foo-left
{
    background: url("images/foo-left.gif") repeat scroll 0 0 transparent;
    float: left;
    height: 31px;
    width: 39px;
}

#foo-right
{
    background: url("images/foo-right.gif") repeat scroll 0 0 transparent;
    color: #990000;
    font-size: smaller;
    height: 31px;
    line-height: 30px;
    text-align: center;
}
